<section class="perfil-container">
  <div class="card">
    <div class="img">
      @if(this.image){
      <img [src]="this.image">
      }@else{
      <img src="assets/notimage">
      }
    </div>
    <div class="text">
      <h3>{{nome}}</h3>
      <h3>{{telefone}}</h3>
      <div class="buttons-container">
        <button class="buttons" type="button" (click)="deleteContact()">Deletar</button>
        <button class="buttons" type="button" (click)="editContact()">Editar</button>
      </div>
    </div>
  </div>
</section>
