/*Create variables*/

.header-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  gap: 40px;
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding-bottom: 40px;
}


.header-container .title {
  color: #549FE8;
}

.header-container .title span {
  color: #F79945;
}

.header-container .banner {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #000
}


.header-container button {
  padding: 20px;
  background: #549FE8;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px #000;
  font-size: 14px;
  text-shadow: 20px;
  font-style: italic;
  text-transform: uppercase;
  border: 2px solid white;
}


.header-container .gokuzinho {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.header-container .gokuzinho button {
  width: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-color: blue;
  font-weight: 200px;
  color: blue;
}
