.contact {
  border: 2px solid #0D6EFD;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 10px;
  background: #D2D6D2;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #000000;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: warp;
  list-style: none;
  padding: 15px 10px 0px 10px;
}

.contact button {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.contact .name {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.contact .number {
  font-size: 15px;
  text-align: center;
  font-style: inherit;
  text-transform: uppercase;
}
