<section class="container">
  <ng-content></ng-content>
  <app-header></app-header>

  <input class="search" type="search" name="search" placeholder="Search" [(ngModel)]='filterText'>


  @for (letter of filterAlfabet(); track letter) {
  <app-separator>{{letter.toUpperCase()}}</app-separator>

  @for (contact of filterContactsWithLetter(letter.toLowerCase()) ; track contact.id){
  <app-contact [image]="contact.avatar" [name]="contact.name" [number]="contact.Telefone"></app-contact>
  }


  }
</section>
